@import "bootstrap";

.calendar-heading {
    text-align: center; 
}

.calendar-title {
    font-size: 1.5rem;
}

.table td {
    padding: 5px 70px 70px 10px; 
}

.table td:hover {
    border: 2px solid yellow;
}

.today {
    background: #4BC55B;
}

.prev-month {
    background: #353535;
    color: white;
}

.next-month {
    background: #353535;
    color: white; 
}

