@import "bootstrap";
@import "font-awesome";

.calendar-heading {
    text-align: center; 
}

.calendar-title {
    font-size: 1.5rem;
}

.simple-calendar {
    margin-top: 2rem!important;
}

.today {
    background: #4BC55B;
}

.prev-month {
    background: #353535;
    color: white;
}

.prev-month .dropdown {
    display: none; 
}

.prev-month i {
    display: none; 
}

.prev-month a {
    display: none; 
}

.next-month {
    background: #353535;
    color: white; 
}

.next-month .dropdown {
    display: none; 
}

.next-month i {
    display: none; 
}

.next-month a {
    display: none; 
}

.navbar {
    background: #A80606 !important;
}

// .navbar-brand {
//     text-align: center !important;
// }

.jumbotron {
    background: url(https://goo.gl/oQ8x5N);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    // background: #A80606;
    // opacity: 0.5;
    // border-radius: 2rem; 
    // margin-top: 3rem; 
}

.jumbotron p {
    color: black; 
}

.jumbo-link {
    font-size: 1.5rem; 
}

.index-jumbo {
    font-weight: bold;
}

.links {
    margin-top: 4rem; 
}

.day {
    height: 12rem;
    max-height: 12rem;  
    font-size: 1.5rem;
    border: 2px solid #dadada; 
}

.day:hover {
    border: 4px solid #dadada;
}

.user-info {
    display: inline; 
    padding: .5rem; 
}

.user-calendar {
    margin-top: 2rem; 
}

.user-name {
    margin-top: 2rem; 
}

.fa {
    margin: .5rem; 
}

.fa-heartbeat {
    color: red;
    font-weight: bold; 
    font-size: 1.5rem; 
}

.fa-star-o {
    color: gold; 
    font-weight: bold; 
    font-size: 1.5rem; 
}

.fa-cutlery {
    font-weight: bold; 
    font-size: 1.5rem; 
}

.info-link {
    font-size: 1rem; 
    // position: absolute;
    // margin-top: 3rem;
}

// Add style that hides the information on future and past days on the calendar (maybe still display day
// but nothing else)

.edit {
    background: url(https://goo.gl/9ubuus);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh; 
}

.edit h1, p {
    color: white; 
}

.edit label {
    color: white; 
}

.user-edit-info {
    padding-top: 4rem;
}

.user-edit-info2 {
    padding-top: 4rem;
}

#create-account {
    background: url(https://goo.gl/PgwLav);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

#sign-in {
    background: url(https://goo.gl/pP3DVc);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.new-session {
    margin-top: 10rem; 
    margin-left: 8rem; 
}

.img_fluid {
    max-width: 100%;
    height: auto; 
}

.exercise-new {
    background: url(https://goo.gl/iM5xJJ);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.exercise-new p {
    color: black; 
}

.diet-new {
    background: url(https://goo.gl/X87ob2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.diet-new p {
    color: white; 
}

.diet-new h1 {
    color: white; 
}
.diet-new label {
    color: white; 
}

.goal-new {
    background: url(https://goo.gl/iE4JHC);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.user-calendar-page p {
    color: black; 
}

.days-show {
    background: url(https://goo.gl/1dA9zG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    // need to go back and make height cover the entire length of the screen
}

.user-edit-field {
    margin-bottom: 1rem; 
}

.center {
    text-align: center;
}

.top-spacing {
    margin-top: 1rem; 
}

.edit-profile {
    background: url(https://goo.gl/zZgqvp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.left-spacing {
    margin-left: 2rem; 
}