@import "bootstrap";
@import "font-awesome";

.calendar-heading {
    text-align: center; 
}

.calendar-title {
    font-size: 1.5rem;
}

.today {
    background: #4BC55B;
}

.prev-month {
    background: #353535;
    color: white;
}

.prev-month .dropdown {
    display: none; 
}

.prev-month i {
    display: none; 
}

.prev-month a {
    display: none; 
}

.next-month {
    background: #353535;
    color: white; 
}

.next-month .dropdown {
    display: none; 
}

.next-month i {
    display: none; 
}

.next-month a {
    display: none; 
}

.navbar {
    background: #A80606 !important;
}

// .navbar-brand {
//     text-align: center !important;
// }

.jumbotron {
    background: url(https://goo.gl/oQ8x5N);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    // background: #A80606;
    // opacity: 0.5;
    // border-radius: 2rem; 
    // margin-top: 3rem; 
}

.jumbo-link {
    font-size: 1.5rem; 
}

.index-jumbo {
    font-weight: bold;
}

.links {
    margin-top: 4rem; 
}

.day {
    height: 12rem;
    max-height: 12rem;  
    font-size: 1.5rem; 
}

.day:hover {
    border: 2px solid #AAAAAA;
}

.user-info {
    display: inline; 
    padding: .5rem; 
}

.user-calendar {
    margin-top: 2rem; 
}

.user-name {
    margin-top: 2rem; 
}

.fa {
    margin: .5rem; 
}

.fa-heartbeat {
    color: red;
    font-weight: bold; 
    font-size: 1.5rem; 
}

.fa-star-o {
    color: gold; 
    font-weight: bold; 
    font-size: 1.5rem; 
}

.fa-cutlery {
    font-weight: bold; 
    font-size: 1.5rem; 
}

.info-link {
    font-size: 1rem; 
    // position: absolute;
    // margin-top: 3rem;
}

// Add style that hides the information on future and past days on the calendar (maybe still display day
// but nothing else)

.edit {

}

#create-account {
    background: url(https://goo.gl/PgwLav);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

#sign-in {
    background: url(https://goo.gl/pP3DVc);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.new-session {
    margin-top: 10rem; 
    margin-left: 8rem; 
}